*{
    padding: 0; 
    margin: 0;
    box-sizing :border-box;

}

body{
    background-image: url(image/dark-cloud.jpeg);
    text-align: center;
   box-sizing: border-box;
}

div{
    height: 33.33vh;
}

input[type=number]{

    width: 80%;
    height: 80%;
    font-family: 'Courier New', Courier, monospace;
    color:aliceblue;
    background-image: url(image/black-water.jpg);
    font-size: 10em;
    text-align: center;
    border: 0;
}

#fahrenheit{
    border-top: 4px solid aliceblue;
    border-bottom: 4px solid aliceblue;
}

::-ms-input-placeholder{
    color: #3333;
}